[Unit]
Description=Redundant controller daemon
After=network.target
StartLimitIntervalSec=0

[Service]
StateDirectory=rc-central
ExecStart=/usr/local/bin/rc-central
Restart=always
RestartSec=1
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50

[Install]
WantedBy=multi-user.target
